.claims-container {
    border: solid 2px red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
}

.claims {
    border: solid 2px blue;
    /* height: 100vh; */
    margin: 20px;
}

